/*vars color*/

/*vars font-size*/

/*vars font-family*/

/*vars burger*/

/*vars contact us and modal*/

/*vars cookie*/

/*vars header*/

/*vars experts*/

/*vars social*/

/*vars portfolio*/

/*vars color*/

/*vars font-size*/

/*vars font-family*/

/*vars burger*/

/*vars contact us and modal*/

/*vars cookie*/

/*vars header*/

/*vars experts*/

/*vars social*/

/*vars portfolio*/

/*mixin: space-between*/

/*mixin: navigation*/

/*mixin: center*/

.error__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

/*headers setting*/

/*paragraf setting*/

.error__block .error__text {
  margin-top: 0;
  color: #666666;
  font-size: 1.06rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.47rem;
}

/*center position header text and paragraf setting*/

/*main style for links on page*/

/*main style for article links on page*/

/*main style for masonry on page*/

/*main style for cards on page*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.error__block {
  width: 100%;
  max-width: 564px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.error__block .error__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 16.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

footer {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 608px) {
  .error__block .error__text {
    font-size: 0.93rem;
  }
}

@media screen and (max-width: 565px) {
  .error__block .error__number {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 8.6rem;
  }

  .error__block .error__text {
    font-size: 0.93rem;
  }
}

@media screen and (max-width: 472px) {
  .error__block .error__text {
    width: 100%;
    max-width: 238px;
  }
}

@media screen and (max-width: 426px) {
  .error__block .error__text br {
    display: none;
  }
}