/*vars color*/

/*vars font-size*/

/*vars font-family*/

/*vars burger*/

/*vars contact us and modal*/

/*vars cookie*/

/*vars header*/

/*vars experts*/

/*vars social*/

/*vars portfolio*/

/*vars color*/

/*vars font-size*/

/*vars font-family*/

/*vars burger*/

/*vars contact us and modal*/

/*vars cookie*/

/*vars header*/

/*vars experts*/

/*vars social*/

/*vars portfolio*/

/*mixin: space-between*/

/*mixin: navigation*/

/*mixin: center*/

/*headers setting*/

/*paragraf setting*/

.privacy__policy .notice p {
  margin-top: 0;
  color: #666666;
  font-size: 1.06rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.47rem;
}

/*center position header text and paragraf setting*/

/*main style for links on page*/

/*main style for article links on page*/

/*main style for masonry on page*/

/*main style for cards on page*/

/*privact policy*/

.intro {
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: 0;
}

.intro__container {
  width: 100%;
  max-width: 780px;
}

.intro__container h1 {
  white-space: normal;
  font-size: 5.87rem;
}

.intro__container p {
  max-width: 582px;
}

.privacy__policy .container {
  width: 100%;
  max-width: 780px;
}

.privacy__policy .notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 40px;
}

.privacy__policy .notice h2 {
  font-size: 2.67rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 20px;
}

.privacy__policy .notice p {
  line-height: 1.6rem;
}

.privacy__policy .notice:first-child {
  margin-top: 60px;
}

.privacy__policy .notice:last-child {
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .intro__container {
    width: auto;
    max-width: none;
  }

  .intro__container h1 {
    font-size: 3.33rem;
  }

  .intro__container p {
    width: auto;
    max-width: none;
  }

  .privacy__policy .container {
    width: auto;
    max-width: none;
  }
}

@media screen and (max-width: 769px) {
  .intro__container p {
    max-width: 470px;
  }

  .intro__container p br {
    display: none;
  }
}

@media screen and (max-width: 608px) {
  .privacy__policy .notice p {
    font-size: 0.93rem;
  }
}

@media screen and (max-width: 426px) {
  .privacy__policy .notice p br {
    display: none;
  }

  .intro__container h1 {
    font-size: 2rem;
  }

  .privacy__policy .notice h2 {
    font-size: 2rem;
  }
}